<?xml version="1.0" encoding="UTF-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <target name="Infofile" xsi:type="File" fileName="${basedir}/Logs/Info/${shortdate}/info.txt" maxArchiveFiles="30" layout="${date:format=HH\:mm\:ss.fff}: ${message}" />
        <target name="Debugfile" xsi:type="File" fileName="${basedir}/Logs/Debug/${shortdate}/debug.txt" maxArchiveFiles="30" layout="${date:format=HH\:mm\:ss.fff}: ${message}" />
        <target name="Errorfile" xsi:type="File" fileName="${basedir}/Logs/Error/${shortdate}/error.txt" maxArchiveFiles="30" layout="${longdate} | ${level:uppercase=false} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
    </targets>
    <rules>
        <!--<logger name="*" writeTo="console" />-->
        <logger name="*" minlevel="Debug" writeTo="Debugfile" />
        <logger name="*" minlevel="Error" writeTo="Errorfile" />
        <logger name="*" minlevel="Info" writeTo="Infofile" />
    </rules>
</nlog>